

color-inherit{
    color: inherit;
}
dense{
    min-width: 64;
    min-height: 32;
}
label{
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    display: inherit;
}
root:hover .disabled{
    background: transparent;
}
root:hover{
    text-decoration: none;
}
root{
    line-height: 1.4em;
    box-sizing: border-box;
    min-width: 88;
    min-height: 36;
    border-radius: 2;
}