<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>color palette</title>
    <style>
        .box {
            display: block;
            width: 100%;
            height: 100%;
        }

        .color-palette {
            margin: 46px 1%;
            width: 31%;
            display: inline-block;
        }

        .color-item {
            height: 44px;
            line-height: 44px;
            padding: 0 12px;
        }

        .value {
            float: right;
        }
    </style>
</head>

<body>
    <div>
        <div class="color-palette">
            {{range $k,$v:=.Blue}}
            <div class="color-item" style="background: {{$v.Hex}}">
                blue-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Purple}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Purple-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Cyan}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Cyan-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Green}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Green-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Magenta}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Magenta-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>

        <div class="color-palette">
            {{range $k,$v:=.Pink}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Pink-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Red}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Red-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Orange}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Orange-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Yellow}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Yellow-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Volcano}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Volcano-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.GeekBlue}}
            <div class="color-item" style="background: {{$v.Hex}}">
                GeekBlue-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Lime}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Lime-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
        <div class="color-palette">
            {{range $k,$v:=.Gold}}
            <div class="color-item" style="background: {{$v.Hex}}">
                Gold-{{$k}}
                <span class="value">{{$v.Hex}} {{hsv $v}}</span>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>