color-inherit-id{
    color: inherit;
}
dense-id{
    min-height: 32;
    min-width: 64;
}
label-id{
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: 100%;
}
root-id{
    border-radius: 2;
    box-sizing: border-box;
    line-height: 1.4em;
    min-height: 36;
    min-width: 88;
}
root-id {
    background: transparent;
}
root-id:hover{
    text-decoration: none;
}